@tailwind base;
@tailwind components;
@tailwind utilities;

 {
	csssrc: "https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap";
}

.padding {
	@apply px-2 md:px-0;
}

.text-sm-md {
	@apply text-sm md:text-lg;
}

.animate {
	@apply hover:scale-[103%] transition-all duration-300;
}

.margin {
	@apply my-12 md:my-16;
}

.button {
	@apply bg-accent text-gray-100 px-3 py-[2px] rounded-full text-sm-md;
}

.button1 {
	@apply bg-accent text-gray-100 px-3 py-2 rounded-full text-sm-md;
}

.login-button {
	@apply flex items-center border px-4 py-2 gap-2 rounded-lg cursor-pointer my-4 border-accent hover:bg-sec;
}

.bg-img {
	background-image: url("../../public/img1.jpg");
	object-fit: ;
	height: 100%;
}
